<!DOCTYPE html>
<html lang="en" data-bs-theme="{% if config['DARK_MODE'] %}dark{% else %}light{% endif %}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App Demo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.3.2-dist/css/bootstrap.min.css') }}" />
    <script src="{{ url_for('static', filename='bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/htmx.js') }}"></script>
</head>

<body>
    {% include 'navbar.html' %}
    <div class="container">
        {% block header %}{% endblock %}
        {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
    </div>
</body>

</html>