<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App Demo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.3.2-dist/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/path.css') }}" />
    <script src="{{ url_for('static', filename='bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/htmx.js') }}"></script>
</head>

<body>
    {% include 'navbar.html' %}
    <div class="container">
        <div id="path">
            <ul class="url_path">
                {% if url_path %}
                {% for step in url_path %}
                <li><a href="{{ step.url }}">{{ step.name }}</a></li>
                {% endfor %}
                {% endif %}
            </ul>
        </div>
        {% block header %}{% endblock %}
        {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
        <script src="{{ url_for('static', filename='js/light_mode.js') }}"></script>
    </div>
</body>

</html>