{% macro active_page_class(url) %}{% if url == url_for(request.endpoint) %} active{% endif %}{% endmacro %}
{% macro active_page_aria(url) %}{% if url == url_for(request.endpoint) %}aria-current="page"{% endif %}{% endmacro %}

{% macro nav_item(name, link) %}
<li class="nav-item">
    <a class="nav-link{{ active_page_class(url_for(link)) }}" {{ active_page_aria(url_for(link)) }}
        href="{{ url_for(link) }}">{{ name }}</a>
</li>
{% endmacro %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('index') }}">Flask App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {{ nav_item('App', 'index') }}
                {% if session['userid'] %}
                {% if 'admin' in g.user_roles %}
                {{ nav_item('Admin', 'admin.index') }}
                {% endif %}
                {{ nav_item('Debug', 'debug.index') }}
                {% endif %}
            </ul>
            {% if session['userid'] %}
            <a href="{{ url_for('user.profile') }}" class="me-3">{{ g.user['username'] }}</a>
            <a href="{{ url_for('auth.logout') }}" class="btn btn-outline-secondary me-3" role="button">Logout</a>
            {% else %}
            <a href="{{ url_for('auth.login') }}" class="btn btn-outline-secondary me-3" role="button">Login</a>
            <a href="{{ url_for('auth.register') }}" class="btn btn-outline-secondary" role="button">Register</a>
            {% endif %}
        </div>
    </div>
</nav>